{% extends "../base.html" %}

{% block title %}{{ filename }}{% endblock %}

{% block bodymore %}{% endblock %}

{% block content %}

    <div id="info" class="dinfo">
        <div class="float-left" id="filename">
            {{ filename }}
        </div>

        <div class="right">
            {% if expiry %}
            <span>file expires in {{ expiry }}</span> | 
            {% endif %}
            {% block infomore %}{% endblock %}
            <span>{{ size }}</span> | 
            <a href="{{ filename }}/torrent" download>torrent</a> |
            <a href="{{ sitepath }}selif/{{ filename }}" download>get</a>
        </div>

        {% block infoleft %}{% endblock %}
        <div class="clear"></div>
    </div>

    <div id="main" {% block mainmore %}{% endblock %}>

      <div id='inner_content' {% block innercontentmore %}{% endblock %} >
      {% block main %}{% endblock %}
      </div>

    </div>

    <script src="{{ sitepath }}static/js/clipboard.js"></script>
{% endblock %}
