{% extends "base.html" %}

{% block head %}
    <link href="{{ sitepath }}static/css/highlight/tomorrow.css" rel="stylesheet" type="text/css">
{% if extra.lang_hl != "text" %}
    <link href="{{ sitepath }}static/css/highlight/lines.css" rel="stylesheet" type="text/css">
{% endif %}
{% endblock %}

{% block innercontentmore %} class="scrollable"{% endblock %}

{% block infoleft %}
    <div id="editform">
        <form id="reply" action='{{ sitepath }}upload' method='post'>
            <div class="info-flex">
                <div>
                {% if not forcerandom %}<input class="codebox" name='filename' id="filename" type='text' value="" placeholder="filename">{% endif %}.<input id="extension" class="codebox" name='extension' type='text' value="{{ extra.extension }}" placeholder="txt">
                </div>
                <div class="info-actions">
                    <select id="expiry" name="expires">
                        <option disabled>Expires:</option>
                        {% for expiry in expirylist %}
                        <option value="{{ expiry.Seconds }}"{% if forloop.Last %} selected{% endif %}>{{ expiry.Human }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="save">Save</button>
                </div>
            </div>
            <textarea name='content' id="newcontent" class="editor"></textarea>
        </form>
    </div>
{% endblock %}

{% block infomore %}
<label>wrap <input id="wordwrap" type="checkbox" checked></label> | 
{% endblock %}

{% block main %}
<div id="normal-content" class="normal fixed">
    <pre id="normal-code"><code id="codeb" class="{{ extra.lang_hl }}">{{ extra.contents }}</code></pre>
    <textarea id="inplace-editor" class="editor">{{ extra.contents }}</textarea>
</div>


{% if extra.lang_hl != "text" %}
<script src="{{ sitepath }}static/js/highlight/highlight.pack.js"></script>
<script src="{{ sitepath }}static/js/bin_hljs.js"></script>
{% endif %}

<script src="{{ sitepath }}static/js/util.js"></script>
<script src="{{ sitepath }}static/js/bin.js?v=1"></script>
{% endblock %}
