{% extends "base.html" %}

{% block head %}
    <link href="{{ sitepath }}static/css/story.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block innercontentmore %} class="scrollable"{% endblock %}
{% block mainmore %} class="storycontent" {% endblock %}

{% block infoleft %}
    <div id="editform">
        <form id="reply" action='{{ sitepath }}upload' method='post'>
            <div class="info-flex">
                <div>
                    {% if not forcerandom %}<input class="codebox" name='filename' id="filename" type='text' value="" placeholder="filename">{% endif %}.<input id="extension" class="codebox" name='extension' type='text' value="story" placeholder="txt">
                </div>
                <div class="info-actions">
                    <select id="expiry" name="expires">
                        <option disabled>Expires:</option>
                        {% for expiry in expirylist %}
                        <option value="{{ expiry.Seconds }}"{% if forloop.Last %} selected{% endif %}>{{ expiry.Human }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="save">Save</button>
                </div>
            </div>

            <textarea name='content' id="newcontent" class="editor"></textarea>
        </form>
    </div>
{% endblock %}

{%block infomore %}
<label>wrap <input id="wordwrap" type="checkbox" checked></label> | 
{% endblock %}

{% block main %}
<div id="normal-content" class="normal">
    <pre id="normal-code"><code id="codeb" class="story">{% for line in lines %}{% if line|make_list|first == ">" %}<span class="storygreen">{{ line }}</span>{% else %}<span class="storyred">{{ line }}</span>{% endif %}{% endfor %}</code></pre>
    <textarea id="inplace-editor" class="editor">{{ extra.contents }}</textarea>
</div>


<script src="{{ sitepath }}static/js/util.js"></script>
<script src="{{ sitepath }}static/js/bin.js?v=1"></script>
{% endblock %}
