<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{{ sitename }}{% endblock %}</title>
	<meta charset='utf-8' content='text/html' http-equiv='content-type'>
	<meta name='viewport' content='width=device-width, initial-scale=0.8'>
	<link href='{{ sitepath }}static/css/linx.css?v=1' media='screen, projection' rel='stylesheet' type='text/css'>
	<link href='{{ sitepath }}static/css/hint.css' rel='stylesheet' type='text/css'>
	<link href='{{ sitepath }}static/images/favicon.gif' rel='icon' type='image/gif'>
	{% block head %}{% endblock %}
</head>

<body>
	<div id="container_container">
		<div id="container">
			<div id="header">
				<div id="navigation" class="right">
					{% if auth != "header" %}
					<a href="{{ sitepath }}">Upload</a> |
					<a href="{{ sitepath }}paste/">Paste</a> |
					{% endif %}
					<a href="{{ sitepath }}API/">API</a>
					{% for custom_file_name, custom_page_name in custom_pages_names sorted %}
					| <a href="{{ sitepath }}{{ custom_file_name }}/">{{ custom_page_name }}</a>
					{% endfor %}
				</div>
				<h2><a href="{{ sitepath }}" title="{{ sitename }}">{{ sitename }}</a></h2>
			</div>

			{% block content %}{% endblock %}

			<div id="footer">
				<a href="https://github.com/andreimarcu/linx-server">linx-server</a>
			</div>

		</div>
	</div>
</body>

</html>