{% extends "base.html" %}

{% block head %}
<link href='{{ sitepath }}static/css/dropzone.css' media='screen, projection' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %} 
<div id="fileupload">
    <form action="{{ sitepath }}upload" class="dropzone" id="dropzone" method="POST" enctype="multipart/form-data" data-maxsize="{{ maxsize }}">
        <div class="fallback">
            <input id="fileinput" name="file" type="file" /><br />
            <input id="submitbtn" type="submit" value="Upload">
        </div>

        <div id="dzone" class="dz-default dz-message">
            <span>Click or Drop file(s) or Paste image</span>
        </div>

        <div id="choices">
            <div id="expiry">
                <label>File expiry: 
                <select name="expires" id="expires">
                    {% for expiry in expirylist %}
                    <option value="{{ expiry.Seconds }}"{% if forloop.Last %} selected{% endif %}>{{ expiry.Human }}</option>
                    {% endfor %}
                </select>
                </label>
            </div>
            <label><input name="randomize" id="randomize" type="checkbox" checked /> Randomize filename</label>
        </div>
        <div class="clear"></div>
    </form>
    <div id="uploads"></div>
    <div class="clear"></div>
</div>

<script src="{{ sitepath }}static/js/dropzone.js"></script>
<script src="{{ sitepath }}static/js/upload.js"></script>
{% endblock %}
