{% extends "base.html" %}

{% block head %}
<link href='/static/css/dropzone.css' media='screen, projection' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %} 
<div id="fileupload">
    <form action="/upload" class="dropzone" id="dropzone" method="POST" enctype="multipart/form-data">
        <div class="fallback">
            <input name="file" type="file" /><br />
            <input type="submit" value="Upload">
        </div>

        <div id="dzone" class="dz-default dz-message">
            <span>Click or Drop file(s)</span>
        </div>

        <div id="choices">
            <div id="expiry">
                <label>File expiry: 
                <select name="expires" id="expires">
                </label>
                    <option value="0">never</option>
                    <option value="60">a minute</option>
                    <option value="300">5 minutes</option>
                    <option value="3600">an hour</option>
                    <option value="86400">a day</option>
                    <option value="604800">a week</option>
                    <option value="2419200">a month</option>
                    <option value="29030400">a year</option>
                </select>
            </div>
            <label><input name="randomize" id="randomize" type="checkbox" checked /> Randomize filename</label>
        </div>
        <div class="clear"></div>
    </form>
    <div id="uploads"></div>
    <div style="clear:both;"></div>
</div>

<script src="/static/js/dropzone.js"></script>
<script src="/static/js/upload.js"></script>
{% endblock %}