{% extends "base.html" %}

{% block title %}{{sitename}} - Paste{% endblock %}

{% block content %}
<form id="reply" action='{{ sitepath }}upload' method='post'>
    <div id="main" class="paste">
        <div id="info" class="info-flex">
            <div>
                {% if not forcerandom %}<span class="hint--top hint--bounce"
                    data-hint="Leave empty for random filename"><input class="codebox" name='filename' id="filename"
                        type='text' value="" placeholder="filename" /></span>{% endif %}.<span
                    class="hint--top hint--bounce" data-hint="Enable syntax highlighting by adding the extension"><input
                        id="extension" class="codebox" name='extension' type='text' value="" placeholder="txt" /></span>
            </div>
            <div>
                <span class="hint--top hint--bounce" data-hint="Require password to access (leave empty to disable)">
                    <input class="codebox" name="access_key" type="text" placeholder="password" />
                </span>

                <select id="expiry" name="expires">
                    <option disabled>Expires:</option>
                    {% for expiry in expirylist %}
                    <option value="{{ expiry.Seconds }}" {% if forloop.Last %} selected{% endif %}>{{ expiry.Human }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit">Paste</button>
            </div>
        </div>

        <div id="inner_content" class="padme">
            <textarea name='content' id="content" class="editor"></textarea>
        </div>
    </div>
</form>

<script src="{{ sitepath }}static/js/util.js"></script>
<script src="{{ sitepath }}static/js/paste.js"></script>
{% endblock %}